Flask
Flask-SQLAlchemy
Flask-Mail
Flask-Login
Flask-WTF
Flask-Limiter
flask-cors
mysql-connector-python
python-dotenv
xhtml2pdf
num2words
pandas
openpyxl
fastapi
uvicorn
pydantic
requests
openai
groq
python-dateutil
reportlab
Pillow
sqlparse
